.home {
  padding: 5.3125rem 10.625rem;
}

.home-landing {
  display: grid;
  grid-template-columns: 49% auto;
  grid-column-gap: 20%;

  .home-landing-title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.625rem;
    letter-spacing: 0.1407rem;
    color: #000000;
  }

  .home-landing-desc {
    padding-top: 2.375rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 2.875rem;
    letter-spacing: 0.0313rem;
    color: #787878;
  }

  .home-landing-work {
    font-size: 1.25rem;
    letter-spacing: 0.0125rem;
    padding: 0.0625rem 2.5rem;
    line-height: 2.875rem;
    background: none;
    color: #3340ff;
    border: 2px solid #3340ff;
    border-radius: 0.4375rem;
    font-family: "Kalam", cursive;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 3.5rem;
    display: inline-block;
  }

  .home-landing-work:hover {
    background: #3340ff;
    color: white;
  }
  .home-landing-photo {
    display: grid;
    justify-items: end;
  }

  img {
    width: 80%;
  }
}

.home-work {
  padding-top: 7.5rem;

  .home-work-unit {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 38% auto;
    grid-column-gap: 10%;
    position: relative;
    margin-bottom: 10rem;

    img {
      width: 100%;
    }

    .home-work-title {
      font-weight: bold;
      font-size: 2rem;
      line-height: 4.625rem;
      letter-spacing: 0.0125rem;
      color: #151515;
    }

    .home-work-desc {
      font-weight: 300;
      font-size: 1.4375rem;
      line-height: 2.0625rem;
      letter-spacing: 0.0131rem;
      color: #787878;
    }

    .home-work-medium {
      a {
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 2.6875rem;
        letter-spacing: 0.0484rem;
        color: #3340ff;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-decoration: none;
      }
    }
  }
}

.home-blogs-array {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin-top: 3.25rem;
  justify-content: space-between;

  .home-blogs-unit {
    img {
      width: 100%;
    }
    .home-blogs-name {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.0088rem;
      text-align: center;
      color: #161616;
    }
  }
}
