footer{
    padding: 3em 0;
    background: #FFFFFF;
    border-top: 1px solid #BCBCBC;
    display: grid;
    align-items: center;
    justify-items: center;

    div{
        font-size: 2rem;
        line-height: 4.625rem;
        text-align: center;
        letter-spacing: 0.0748rem;
        color: #787878;
    }
}