@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700&display=swap');

body{
    font-family: 'Kalam', cursive;     
}

html{
    font-size: 1.1vw;
    overflow-x: hidden;
}

.title{
    display: block;
    border-bottom: 1px solid #B9B9B9;
    font-size: 1.25rem;
    line-height: 2.875rem;
    letter-spacing: 0.0125rem;

    span{
        color: #3340FF;
    }
}

a{
    text-decoration: none;
}